# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.idea
/.pnp
.pnp.js
yarn.lock
.env
.env.local
.next
.npm
.dist
package-lock.json
pnpm-lock.yaml

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# vsCode workspace settings
.vscode

# Package build files
/dist/
/cdn/
/npm/